.startRoutineOuter {
    display: flex;
    flex-direction: column;
    background-color: #F7EDE1;
    padding: 5%;
}

.startRoutineHeader {
    font-size: 28px;
    text-align: center; 
    font-weight: 600;
    margin-bottom: 30px;
    color: #3b3835;
}

.errorMessage {
    align-self: center;
}

.startRoutineInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.startRoutineInner .nameInput, .startRoutineInner .emailInput {
    width: 60vw;
    height: 40px;
    margin: 3% 0;
    border: 1px solid #96807A;
    background-color: #FCF9F6;
    border-radius: 8px;
    align-self: center;
 }

.startRoutineInner .register {
    background-color: #67392A;
    margin-top: 3%;
    margin-bottom: 10%;
    border: none;
    border-radius: 8px;
    height: 48px;
    width: 63vw;
    font-size: 15px;
    color: white;
}

.startRoutineInner .register:hover {
    cursor: pointer;
    background-color:#B68B7D;
    color: white;
}

.startRoutineInner .register a {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 600px) {

    .startRoutineInner .nameInput, .startRoutineInner .emailInput {
        width: 350px;
        margin: 2% 0;
    }

    .startRoutineInner .register {
        width: 350px;
    }

}

@media only screen and (min-width: 900px) {

    .startRoutineOuter {
        display: flex;
        flex-direction: column;
        background-color: #F7EDE1;
        padding: 5%;
    }

    .startRoutineHeader {
        font-size: 38px;
        align-self: center;
        justify-self: center;
        font-weight: 600;
        margin-bottom: 30px;
        color: #3b3835;
    }

    .startRoutineInner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 2vw;
    }

    .startRoutineInner .register {
        width: 20vw;
    }

    .startRoutineInner .nameInput, .startRoutineInner .emailInput {
        width: 15vw;
        height: 40px;
        border: 1px solid #96807A;
        border-radius: 8px;
        align-self: center;
        margin-right: 2vw;
    }

    .startRoutineInner .register {
        margin-bottom: 3%;
    }

    @media only screen and (min-width: 1200px) {

        .startRoutineInner .register {
            width: 13vw;
        }
    }
}