@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Khula:300,regular,600,700,800);

/* Main typography and sizes */

body {
    font-family: Khula;
    font-size: 16px;  
}

caption {
    font-size: 14px;
}

h1, h2, h3 {
    font-family: Sora;  
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
  font-weight: 300;
}


/* Generic APP settings */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */
