.heading {
  width: 100%;
  background-color: rgb(168, 167, 167);
}

.userSection {
  display: grid;
  margin: auto 10%;
  padding: 0 10rem 0;
  grid-auto-columns: 1fr 3fr;
  grid-auto-rows: 1fr 1fr;
  gap: 2rem;
}

.profileImage {
  width: 7rem;
  height: 7rem;
  background: rgb(168, 167, 167);
  border-radius: 50%;
  grid-row: 1 / 3;
}

.profileData {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  white-space: nowrap;
  margin-top: 1.5rem;
}

.skinTypes li {
  background-color: rgb(168, 167, 167);
  color: #fff;
  padding: 5px;
}
