.morningRoutine,
.eveningRoutine {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* align-items: center; */
  gap: 20px;
}

.morningRoutine {
  background-color: #faf5f0;
}

.eveningRoutine {
  background-color: #f5e8da;
}

.myRoutines .morningRoutine .heading,
.myRoutines .eveningRoutine .heading {
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b68b7d;
}

.myRoutines .morningRoutine .heading {
  background-color: #faf5f0;
}
.myRoutines .eveningRoutine .heading {
  background-color: #f5e8da;
}

.userInput {
  display: flex;
  flex-direction: column;
}

form.userInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 15vh;
  align-items: stretch;
}

.userInputSelect {
  border: 1px solid #ad967d;
  border-radius: 5px;
}

.myRoutines form.userInput input {
  width: 98%;
  border: 1px solid #ad967d;
  border-radius: 5px;
  height: 40px;
}

.myRoutines form.userInput button {
  background-color: #67392a;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 2.5rem;
  min-width: 16px;
  font-size: 15px;
  height: 48px;
  color: #f8f5f0;
  text-transform: uppercase;
  cursor: pointer;
}

.myRoutines h3 {
  color: #b68b7d;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ab8679;
}

.productsGrid {
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* grid-template-rows: repeat(5, 1fr); */
  /* grid-gap: 2%; */
}

.selectAll {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.selectAll p {
  font-size: inherit;
}

.selectAllLabel {
  font-size: inherit;
}

.saveButton {
  padding: 1%;

  background-color: #67392a;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 2.5rem;
  min-width: 16px;
  font-size: 15px;
  height: 48px;
  color: #f8f5f0;
  text-transform: uppercase;
  cursor: pointer;
}

/*************************** PRODUCT DETAILS **************************** */
.productDetails > p {
  cursor: pointer;
  color: red;
}
