.heading {
  width: 100%;
  background-color: rgb(168, 167, 167);
}

.userInput {
  display: flex;
  justify-content: space-around;
}

.productsGrid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2%;
}

.selectAll {
  margin: 4%;
  display: flex;
  justify-content: flex-end;
}

.selectAllLabel {
  width: 15%;
}

.selectAllInput {
  width: 20%;
}
