.profilePage {
  max-width: 82vw;
  margin: 0 auto;
  margin-top: 10rem;
}

.profilePage h2 {
  font-size: 32px;
  color: #67392a;
  margin: 3rem 0;
}

.profilePage .tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.profilePage .tab1 {
  color: #96807a;
  padding: 1rem 0;
  border-radius: 20px 0 0 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #96807a;
}

.profilePage .tab1focus {
  color: #fff;
  background-color: #96807a;
  padding: 1rem 0;
  border-radius: 20px 0 0 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #96807a;
}

.profilePage .tab2 {
  color: #96807a;
  padding: 1rem 0;
  border-radius: 0 20px 0 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #96807a;
}

.profilePage .tab2focus {
  color: #fff;
  background-color: #96807a;
  padding: 1rem 0;
  border-radius: 0 20px 0 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #96807a;
}

.profilePage span {
  cursor: pointer;
}
