.profilePage {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 8.5rem;
}


@media (max-width: 1100px) {
  .profilePage {
    max-width: 80%;
  }
}

/* ipad and mobile view */
@media (max-width: 768px) {
  .profilePageTitle {
    display: none;
  }
  .profilePage {
    max-width: 98%;
  }
  .profilePage .tabs {
    max-width: 97.9%;
  }
  .profilePage h2 {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .profilePage {
    max-width: 98%;
    margin: auto;
    margin-top: 6rem;
  }
  .profilePage > h2 {
    display: none;
  }
}

.profilePage h2 {
  font-size: 32px;
  color: #333333;
  margin: 3rem 0;
}

.profilePage .tabs {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.profilePage .tab1 {
  color: #96807a;
  padding: 1rem 0;
  border-radius: 20px 0 0 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #96807a;
}

.profilePage .tab1focus {
  color: #fff;
  background-color: #96807a;
  padding: 1rem 0;
  border-radius: 20px 0 0 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #96807a;
}

.profilePage .tab2 {
  color: #96807a;
  padding: 1rem 0;
  border-radius: 0 20px 0 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #96807a;
}

.profilePage .tab2focus {
  color: #fff;
  background-color: #96807a;
  padding: 1rem 0;
  border-radius: 0 20px 0 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #96807a;
}

.profilePage span {
  cursor: pointer;
}
