p {
  /* 1rem equals 16px */
  font-family: Khula;
  font-size: 18px;
}

.missionHeader {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-top: 4rem;
  background-color: #f7ede1;
}

.section {
  color: #3b3835;
  padding: 5rem 15%;
  background-color: #f7ede1;
}

.section div {
  margin: 0 auto;
  max-width: 750px;
}

.section h2 {
  font-family: Sora;
  font-size: 32px;
  margin-bottom: 4rem;
  color: #3b3835;
}
