p {
  /* 1rem equals 16px */
  font-family: Khula;
  font-size: 1rem;
}

.wrapper {
  margin-top: 4rem;
}

.section {
  color: #3B3835;
  padding: 5rem 15%;
  background-color: #f7ede1;
}

.section div {
  margin: 0 auto;
  max-width: 800px;
}

.section h2 {
  font-family: Sora;
  font-size: 32px;
  margin-bottom: 4rem;
  color: #3b3835;
}
