.productImg {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
  grid-area: 1/ 1/ 5/ 2;
  border: 1px solid #c9b6a1;
  border-radius: 5px;
  background-color: white;
}

.productCard {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 3%;
}

.productCard h4 {
  margin: 0;
  color: #3b3835;
  font-size: 14px;
  font-weight: bolder;
  font-family: Sora, sans-serif;
}
h5.skinConcerns {
  color: #3b3835;
  font-family: Khula, sans-serif;
  font-size: 14px;
  grid-area: (2, 2, 3, 3);
  margin: 1.5rem 0 0.5rem 0;
}
.concernsList {
  list-style-type: disc;
}

.useButton {
  display: block;
  width: 30%;
  margin: 3% auto;
}

.trashCan {
  margin: 5px;
  cursor: pointer;
}
