.skinFeelingSection {
  padding: 3rem 0;
  text-align: center;
}

h2.skinFeelingH2 {
  color: #333333;
}

.skinFeelingUl {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.skinFeelingSection img {
  padding: 3px;
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
}

.skinFeelingSection li {
  padding: 3px;
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
}

.skinFeelingSection img:hover {
  background-color: rgba(255, 255, 0, 0.2);
}

.skinFeelingButtonWrap {
  text-align: right;
  padding: 0.5rem 3rem;
}

.skinFeelingButton {
  color: #fff;
  font-size: 15px;
  background-color: #67392a;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  height: 48px;
  width: 80px;
}
