.advice {
  font-family: Khula;
  font-size: 18;
  font-weight: 600;
  padding: 2rem;
  margin-right: 4rem;
  border: 2px solid rgba(209, 152, 136, 0.3);
  border-radius: 0 15px 15px 0;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
}

.advice p {
  margin: 0;
  padding: 0;
}

@media (max-width: 930px) {
  .advice {
    margin-right: 0;
    max-width: 100%;
    border-radius: 0 0 15px 15px;
  }
}