.section {
  background-color: rgb(237, 237, 237);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 2rem;
}

.weatherSection {
  margin: 1rem 10%;
  background-color: gainsboro;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.gridCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.time {
  text-align: left;
  padding: 1rem;
}

.temp {
  font-size: 3rem;
}

.weatherIcon {
  max-width: 80%;
  margin: 0 auto;
}

span {
  border: 0;
  border-style: none;
}

.adviceText {
  color: red;
}
