.sectionWeatherWrapper {
  font-family: Khula;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.weatherSection {
  display: grid;
  height: 310px;
  border-radius: 15px 0 0 15px;
  padding: 1rem;
  margin-left: 4rem;
  background-color: rgba(209, 152, 136, 0.3);
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.gridCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.time {
  font-family: Sora;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-left: 3rem;
  margin-right: 0.8rem;
  margin-bottom: 0;
}

.weatherIcon {
  height: auto;
  width: 9rem;
  margin: 0 auto;
}

.twoColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.temp {
  color: #67392a;
  font-size: 36px;
  padding: 1rem;
}

.tempMin {
  color: rgba(150, 128, 122, 0.8);
  font-size: 36px;
  padding: 1rem;
}

.airQuality {
  margin-left: 3rem;
}

.oneColumn {
  display: grid;
  grid-template-columns: 1fr;
}

.spinnerFx {
  height: 310px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.semiBold {
  font-weight: 600;
}

.regular {
  font-size: 18px;
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.iconFix {
  position: relative;
  top: 2px;
}

.iconDot {
  font-size: 2rem;
  position: relative;
  top: 10px;
}

/* Media Queries */

@media (max-width: 930px) {
  .sectionWeatherWrapper {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .weatherSection {
    border-radius: 0;
    margin: 0;
  }
  .time {
    margin-right: 2rem;
  }
}