.footerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin: auto 5%; */
  padding: 0 7%;
  background-color: #F8F5F0;
  height: 150px;
}
.footerTop .flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4rem;
  white-space: nowrap;
}

.footerTop .flexRow li a {
  text-decoration: none;
  color: #67392a;
  font-weight: 200;
  font-size: 16px;
}

.footerTop .flexRow ul {
  list-style-type: none;
}

footer img {
  height: auto;
  width: 70px;
}

.footerBottom {
  background-color: #ad967d;
  height: 5vh;
  display: flex;
  align-items: center;
}

.footerBottom p {
  padding: 0;
  font-size: 14px;
  margin-left: 7.3vw;
  color: #f8f5f0;
}
