.footerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto 5%;
  padding: 0 2rem;

}
.footerTop .flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10%;
  white-space: nowrap;
}


.footerTop .flexRow li a {
  text-decoration: none;
  color: #67392A;
  font-weight: 200;
  font-size: 1.3rem;
  
}

.footerTop .flexRow ul {
  list-style-type: none;
}

footer img {
  width: 8vw;
  height: 6vh;
}

.footerBottom {
  background-color: #AD967D;
  height: 5vh;
  display: flex;
  align-items: center;
 

}

.footerBottom p {
  padding: 0;
  font-size: 14px;
  margin-left: 7.3vw;
  color: #F8F5F0;
}