.Checkbox {
        display: none;
    }

    .dryLabel {
        font-size: 13px;
        text-align: center;
        padding: 1.2vh 11.5vw;
        align-self: center;
        background-color: #F7EDE1;
        border-radius: 5px;
        border: solid 1px lightgrey;
    }

    .dryLabel:hover {
        background-color:#B68B7D;
        color: black;
    }

    .normalLabel {
        border: solid 1px lightgrey;
        padding-top: 8%;
        align-self: center;
        padding: 1.2vh 9vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
        margin-left: -2.5vw;
    }

    .normalLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .oilyLabel {
        border: solid 1px lightgrey;
        align-self: center;
        padding: 1.2vh 11.5vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
        margin-left: -6vw;
    }

    .oilyLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .combinationLabel {
        font-size: 12px;
        text-align: left;
        padding: 1.2vh 6.2vw;
        align-self: center;
        background-color: #F7EDE1;
        border-radius: 5px;
        border: solid 1px lightgrey; 
    }
    
    .combinationLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .sensitiveLabel {
        border: solid 1px lightgrey;
        align-self: center;
        padding: 1.2vh 8.4vw;
        font-size: 12px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
        margin-left: -2.6vw;
    }

    .sensitiveLabel:hover {
        background-color:#B68B7D;
        color: black;
    }

    .acneLabel {
        border: solid 1px lightgrey;
        align-self: center;
        padding: 1.2vh 10.5vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
    }

    .acneLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .drynessLabel  {
        border: solid 1px lightgrey;
        align-self: center;
        padding: 1.2vh 8.4vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
        margin-left: -2.8vw;
    }

    .drynessLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .oilynessLabel  {
        border: solid 1px lightgrey;
        align-self: center;
        padding: 1.2vh 8.6vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
        margin-left: -6.7vw;
    }

    .oilynessLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .blemishesLabel {
        border: solid 1px lightgrey;
        align-self: center;
        padding: 1.1vh 7vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
    }

    .blemishesLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .darkspotsLabel {
        border: solid 1px lightgrey;
        align-self: center;
        padding: 1.2vh 7.1vw;
        font-size: 12px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
        margin-left: -2.8vw;
    }

    .darkspotsLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .poresLabel {
        border: solid 1px lightgrey;
        align-self: center;
        padding: 1.1vh 10vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
        margin-left: -6.7vw;
    }

    .poresLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .redlinesLabel {
        border: solid 1px lightgrey;
        align-self: start;
        padding: 1.2vh 7.9vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
    }

    .redlinesLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .finelinesLabel {
        border: solid 1px lightgrey;
        align-self: start;
        padding: 1.2vh 7.5vw;
        font-size: 13px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
        margin-left: -2.8vw;
    }

    .finelinesLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

@media only screen and (min-width: 440px) {

    .combinationLabel {
        padding: 1.2vh 6.8vw;
    }

    .sensitiveLabel {
        padding: 1.2vh 8.6vw;
    }

    .normalLabel {
        padding: 1.2vh 9.1vw;
    }

    .oilyLabel {
        margin-left: -6.4vw;
    }

    .oilynessLabel  {
        padding: 1.2vh 9vw;
    }

    .poresLabel {
        padding: 1.1vh 10.2vw;
    }

    .darkspotsLabel {
        padding: 1.2vh 7.8vw;
    }

    .drynessLabel  {
        padding: 1.2vh 8.8vw;
    }

    .blemishesLabel {
        padding: 1.2vh 7.4vw;
    }

    .finelinesLabel { 
        padding: 1.2vh 8.1vw;
    }


    .redlinesLabel {
        padding: 1.2vh 8.2vw;
    }

}

@media only screen and (min-width: 550px) {

    .dryLabel {
        padding: 1.2vh 11.4vw;
    }

    .normalLabel {
        padding: 1.2vh 9.6vw;
        margin-left: -2.7vw;
    }

    .oilyLabel {
        padding: 1.2vh 11.5vw;
    }

    .combinationLabel {
        padding: 1.2vh 7.6vw; 
    }
    
    .sensitiveLabel {
        padding: 1.2vh 9.1vw;
        margin-left: -2.7vw;
    }

    .acneLabel {
        padding: 1.2vh 10.7vw;
    }

    .drynessLabel  {
        padding: 1.2vh 9.4vw;
        margin-left: -2.8vw;
    }

    .oilynessLabel  {
        padding: 1.2vh 9.3vw;
        margin-left: -6.4vw;
    }

    .blemishesLabel {
        padding: 1.2vh 8.2vw;
    }

    .darkspotsLabel {
        padding: 1.2vh 8.5vw;
    }

    .poresLabel {
        padding: 1.1vh 10.5vw;
    }

    .redlinesLabel {
        padding: 1.2vh 8.8vw;
    }

    .finelinesLabel {
        padding: 1.2vh 8.8vw;
    }


}

@media only screen and (min-width: 700px) {

    .normalLabel {
        padding: 1.2vh 10vw;
        margin-left: -2.8vw;
    }

    .combinationLabel {
        padding: 1.2vh 8.2vw; 
    }
    
    .sensitiveLabel {
        padding: 1.2vh 9.7vw;
        margin-left: -3vw;
    }

    .acneLabel {
        padding: 1.2vh 10.9vw;
    }

    .drynessLabel  {
        padding: 1.2vh 9.9vw;
        margin-left: -3vw;
    }

    .oilynessLabel  {
        padding: 1.2vh 9.7vw;
        margin-left: -6.3vw;
    }

    .blemishesLabel {
        padding: 1.2vh 8.8vw;
    }

    .darkspotsLabel {
        padding: 1.2vh 9.2vw;
        margin-left: -3vw;
    }

    .poresLabel {
        padding: 1.1vh 10.6vw;
        margin-left: -6.3vw;
    }

    .redlinesLabel {
        padding: 1.2vh 9.4vw;
    }

    .finelinesLabel {
        padding: 1.2vh 9.4vw;
        margin-left: -3vw;
    }
}

@media only screen and (min-width: 800px) {

    .dryLabel {
        padding: 1.2vh 11.3vw;
    }

    .normalLabel {
        padding: 1.2vh 10.1vw;
        margin-left: -3.3vw;
    }

    .combinationLabel {
        padding: 1.2vh 8.6vw; 
    }
    
    .sensitiveLabel {
        padding: 1.2vh 9.85vw;
        margin-left: -3.4vw;
    }

    .acneLabel {
        padding: 1.2vh 10.75vw;
    }

    .drynessLabel  {
        padding: 1.2vh 9.8vw;
        margin-left: -3.5vw;
    }

    .oilynessLabel  {
        padding: 1.2vh 10.1vw;
        margin-left: -6.6vw;
    }

    .blemishesLabel {
        padding: 1.2vh 9vw;
    }

    .darkspotsLabel {
        padding: 1.2vh 9.2vw;
        margin-left: -3.6vw;
    }

    .poresLabel {
        padding: 1.1vh 10.8vw;
        margin-left: -6.6vw;
    }

    .redlinesLabel {
        padding: 1.2vh 9.5vw;
    }

    .finelinesLabel {
        padding: 1.2vh 9.4vw;
        margin-left: -3.6vw;
    }
}

@media only screen and (min-width: 900px) {

    .dryLabel {
        padding: 10px 44px; 
        margin: 0 10px;
    }

    .normalLabel {
        padding: 10px 33px;
        margin: 0 10px;
    }

    .oilyLabel {
        padding: 10px 45px;
        margin: 0 10px;
    }

    .combinationLabel {
        padding: 10px 20px;
        margin: 0 10px;
    }
    
    .sensitiveLabel {
        padding: 10px 30.5px;
        margin: 0 10px;
    }

    .acneLabel {
        padding: 10px 40px;
        margin: 0 10px;
    }

    .drynessLabel  {
        padding: 10px 32px;
        margin: 0 10px;
    }

    .oilynessLabel  {
        padding: 10px 32px;
        margin: 0 10px;
    }

    .blemishesLabel {
        padding: 10px 25px;
        margin: 0 10px;
    }

    .darkspotsLabel {
        padding: 10px 26px;
        margin: 0 10px;
    }

    .poresLabel {
        padding: 10px 38px; 
        margin: 0 10px;
    }

    .redlinesLabel {
        padding: 10px 29px;
        margin: 0 10px;
    }

    .finelinesLabel {
        padding: 10px 27px;
        margin: 0 10px;
    }
}
