.Checkbox {
        display: none;
    }

    .dryLabel {
        font-size: 13px;
        text-align: center;
        padding: 10px 51px;
        align-self: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .dryLabel:hover {
        color: black;
        background-color:#B68B7D;
    }

    .normalLabel {
        padding: 10px 41px;
        font-size: 13px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        margin-left: -35px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .normalLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .oilyLabel {
        padding: 10px 52px;
        font-size: 13px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        margin-left: -101px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .oilyLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .combinationLabel {
        padding: 10px 24px;
        font-size: 13px;
        text-align: left;
        align-self: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }
    
    .combinationLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .sensitiveLabel {
        align-self: center;
        padding: 10px 36px;
        margin-left: -35px;
        font-size: 13px;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .sensitiveLabel:hover {
        color: black;
        background-color:#B68B7D;
    }

    .acneLabel {
        padding: 10px 48px;
        font-size: 13px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .acneLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .drynessLabel  {
        padding: 10px 38px;
        font-size: 13px;
        margin-left: -32px;
        border-radius: 5px;
        align-self: center;
        text-align: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .drynessLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .oilynessLabel  {
        padding: 10px 39px;
        font-size: 13px;
        margin-left: -100px;
        border-radius: 5px;
        align-self: center;
        text-align: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .oilynessLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .blemishesLabel {
        padding: 10px 32px;
        font-size: 13px; 
        align-self: center;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .blemishesLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .darkspotsLabel {
        padding: 10px 33px;
        font-size: 12px;
        align-self: center;
        text-align: center;
        margin-left: -32px;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .darkspotsLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .poresLabel {
        padding: 10px 45px;
        font-size: 13px;
        border-radius: 5px;
        align-self: center;
        text-align: center;
        margin-left: -100px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .poresLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .redlinesLabel {
        padding: 10px 36px;
        font-size: 13px;
        align-self: start;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .redlinesLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .finelinesLabel {
        padding: 10px 34.5px;
        font-size: 13px;
        margin-left: -32px;
        align-self: start;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .finelinesLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

@media only screen and (min-width: 900px) {

    .dryLabel {
        padding: 10px 44px; 
        margin: 0 10px;
    }

    .normalLabel {
        padding: 10px 33px;
        margin: 0 10px;
    }

    .oilyLabel {
        padding: 10px 45px;
        margin: 0 10px;
    }

    .combinationLabel {
        padding: 10px 18px;
        margin: 0 10px;
    }
    
    .sensitiveLabel {
        padding: 10px 29px;
        margin: 0 10px;
    }

    .acneLabel {
        padding: 10px 40px;
        margin: 0 10px;
    }

    .drynessLabel  {
        padding: 10px 32px;
        margin: 0 10px;
    }

    .oilynessLabel  {
        padding: 10px 32px;
        margin: 0 10px;
    }

    .blemishesLabel {
        padding: 10px 25px;
        margin: 0 10px;
    }

    .darkspotsLabel {
        padding: 10px 26px;
        margin: 0 10px;
    }

    .poresLabel {
        padding: 10px 38.5px; 
        margin: 0 10px;
    }

    .redlinesLabel {
        padding: 10px 29px;
        margin: 0 10px;
    }

    .finelinesLabel {
        padding: 10px 27px;
        margin: 0 10px;
    }
}
