.RegistrationFormSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    margin: 2% 15%;
}

.loginLeftSection {
    grid-column: 1 / 2;
    border: 1px solid black;
    
}

.loginRightSection {
    grid-column: 2 / 4;
    border: 1px solid black;
}