.WelcomeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 5%; */
    background-color: #F7EDE1;
    padding: 7.7vh;
}

.welcomeHeader, .welcomeBodyText {
    width: 200px;
}

.welcomeHeader {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

.welcomeBodyText {
    font-weight: 200;
    line-height: 3vh;
    text-align: center;
}

.welcomeImage {
    height: 15vh;
    width: 15vw;
    /* margin-bottom: 3%; */
}