.WelcomeSection {
    display: flex;
    padding: 20% 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7EDE1;
}

.welcomeHeader, .welcomeBodyText {
    width: 200px;
}

.welcomeHeader {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

.welcomeBodyText {
    font-weight: 200;
    text-align: center;
}

.welcomeImage {
    height: 150px;
    width: 150px;
}


@media only screen and (min-width: 600px) {


.WelcomeSection {
    display: flex;
    padding-top: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7EDE1;
}

.welcomeHeader, .welcomeBodyText {
    width: 200px;
}

.welcomeHeader {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

.welcomeBodyText {
    font-weight: 200;
    text-align: center;
}

.welcomeImage {
    height: 150px;
    width: 150px;
}

}