    .Checkbox {
        display: none;
    }

    .dryLabel {
        font-size: 13px;
        text-align: center;
        padding: 10px 37.5px;
        align-self: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .dryLabel:hover {
        color: black;
        background-color:#B68B7D;
    }

    .normalLabel {
        padding: 10px 26px;
        font-size: 13px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .normalLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .oilyLabel {
        padding: 10px 36px;
        font-size: 13px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .oilyLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .combinationLabel {
        padding: 10px 11px;
        font-size: 13px;
        text-align: left;
        align-self: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }
    
    .combinationLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .sensitiveLabel {
        align-self: center;
        padding: 10px 21px;
        font-size: 13px;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .sensitiveLabel:hover {
        color: black;
        background-color:#B68B7D;
    }
    .acneLabel {
        padding: 10px 33px;
        font-size: 13px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .acneLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .drynessLabel  {
        padding: 10px 24px;
        font-size: 13px;
        border-radius: 5px;
        align-self: center;
        text-align: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .drynessLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .oilynessLabel  {
        padding: 10px 23px;
        font-size: 13px;
        border-radius: 5px;
        align-self: center;
        text-align: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .oilynessLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .blemishesLabel {
        padding: 10px 18px;
        font-size: 13px; 
        align-self: center;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .blemishesLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .darkspotsLabel {
        padding: 10px 19px;
        font-size: 12px;
        align-self: center;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .darkspotsLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .poresLabel {
        padding: 10px 30px;
        font-size: 13px;
        border-radius: 5px;
        align-self: center;
        text-align: center;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .poresLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .redlinesLabel {
        padding: 10px 22px;
        font-size: 13px;
        align-self: start;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .redlinesLabel:hover {
        color: black;
        background-color: #B68B7D;
    }

    .finelinesLabel {
        padding: 10px 20px;
        font-size: 13px;
        align-self: start;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #96807A;
        background-color: #F7EDE1;
    }

    .finelinesLabel:hover {
        color: black;
        background-color: #B68B7D;
    }


@media only screen and (min-width: 900px) {

    .dryLabel {
        padding: 8% 35%;
        padding-top: 8%;
        margin: 3% 5%;
    }

    .normalLabel {
        padding: 8% 29%;
        padding-top: 8%;
        margin: 3% 5%;  
    }

    .oilyLabel {
        padding: 8% 35%;
        margin: 3% 5%;
    }

    .combinationLabel {
        padding: 8% 21%;
        margin: 3% 5%;
    }

    .sensitiveLabel {
        padding: 8% 26.5%;
        margin: 3% 5%;
    }

    .acneLabel {
        padding: 8% 32.5%;
        margin: 3% 5%;
    }

    .drynessLabel  {
        padding: 8% 27.2%;
        margin: 3% 5%;
    }

    .oilynessLabel  {
        padding: 8% 27%;
        margin: 3% 5%;
    }

    .blemishesLabel {
        padding: 8% 24.2%;
        margin: 3% 5%;
    }

    .darkspotsLabel {
        padding: 8% 24.5%;
        margin: 3% 5%;
    }

    .poresLabel {
        padding: 8% 30.7%;
        margin: 3% 5%;
    }

    .redlinesLabel {
        padding: 8% 26%;
        margin: 3% 5%;
    }

    .finelinesLabel {
        padding: 8% 26%;
        margin: 3% 5%;
    }

}