    .Checkbox {
        display: none;
    }

    .dryLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 36px;
        align-self: center;
        margin-left: 1px;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .dryLabel:hover {
        background-color:#B68B7D;
        color: black;
    }

    .normalLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 25px;
        margin-left: 2px;
        align-self: center;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .normalLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .oilyLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 35px;
        margin-left: 5px;
        align-self: center;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .oilyLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .combinationLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 9px;
        margin-left: 8px;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .combinationLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .sensitiveLabel {
        border: 1px solid #96807A;
        padding: 10px 22.4px;
        align-self: center;
        font-size: 12px;
        background-color: #F7EDE1;
        border-radius: 5px;
        text-align: center;
    }

    .sensitiveLabel:hover {
        background-color:#B68B7D;
        color: black;
    }

    .acneLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 32px;
        align-self: center;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .acneLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .drynessLabel  {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 23px;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .drynessLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .oilynessLabel  {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 23px;
        align-self: center;
        margin-left: 2px;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .oilynessLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .blemishesLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 16px;
        align-self: center;
        margin-left: 5px;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .blemishesLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .darkspotsLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 15px;
        align-self: center;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .darkspotsLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .poresLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 29px;
        align-self: center;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .poresLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .redlinesLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 21px;
        align-self: center;
        margin-left: 2px;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .redlinesLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

    .finelinesLabel {
        border-radius: 5px;
        text-align: center;
        border: 1px solid #96807A;
        padding: 10px 19px;
        align-self: center;
        margin-left: 5px;
        font-size: 13px;
        background-color: #F7EDE1;
    }

    .finelinesLabel:hover {
        background-color: #B68B7D;
        color: black;
    }

@media only screen and (min-width: 900px) {

    .dryLabel {
        padding: 8% 35%;
        padding-top: 8%;
        margin: 3% 5%;
    }

    .normalLabel {
        padding: 8% 29%;
        padding-top: 8%;
        margin: 3% 5%;  
    }

    .oilyLabel {
        padding: 8% 35%;
        margin: 3% 5%;
    }

    .combinationLabel {
        padding: 8% 21%;
        margin: 3% 5%;
    }

    .sensitiveLabel {
        padding: 8% 27%;
        margin: 3% 5%;
    }

    .acneLabel {
        padding: 8% 32.5%;
        margin: 3% 5%;
    }

    .drynessLabel  {
        padding: 8% 27.2%;
        margin: 3% 5%;
    }

    .oilynessLabel  {
        padding: 8% 27%;
        margin: 3% 5%;
    }

    .blemishesLabel {
        padding: 8% 24.2%;
        margin: 3% 5%;
    }

    .darkspotsLabel {
        padding: 8% 24.5%;
        margin: 3% 5%;
    }

    .poresLabel {
        padding: 8% 31%;
        margin: 3% 5%;
    }

    .redlinesLabel {
        padding: 8% 26.5%;
        margin: 3% 5%;
    }

    .finelinesLabel {
        padding: 8% 25.5%;
        margin: 3% 5%;
    }

}