.memberSection h2 h3 {
  font-family: Sora;
}

.memberSection .imgContainer {
  width: 225px;
  height: 225px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.memberSection .imgCenterer {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -500px;
}
.memberSection .imgCenterer img {
  display: block;
  margin: 0 auto;
}
.memberSection .section {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem 0;
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 2.5fr;
  gap: 2rem;
  margin-bottom: 5rem;
}

.memberSection .bodytext {
  margin: 0;
  padding: 0;
}

.content h2,
.content h3,
.content p {
  margin: 0.5rem 0;
  color: #3b3835;
}

.memberSection .content h2 {
  font-size: 24px;
  margin-top: 0;
}

.memberSection .content p {
  margin-top: 1rem;
}

.memberSection .icons {
  color: #3b3835;
}

.memberSection ul {
  list-style-type: none;
  margin: 2rem 0.5em;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.memberSection li {
  margin: 0;
  padding: 0;
}

