.outer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5.1% 4%;
  padding-left: 5%;
  background-color: white;
}

.left {
  grid-column: 1 / 2;
}

.left p {
  text-align: left;
  padding: 0 5vw;
  color: #3b3835;
  /* line-height: 3vh; */
  font-weight: 200;
}

.left h2 {
  text-align: left;
  color: #3b3835;
  font-weight: 600;
  font-size: 32px;
  padding: 0 5vw;
  margin-bottom: 5%;
}

.right {
  grid-column: 2 / 3;
  justify-self: center;
}

.insightsImage {
    height: auto;
    max-width: 25vw;
}