.outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    background-color: white;
}

.left {
    grid-column: 1 / 2;
}

.left p {
    text-align: left;
    padding: 3vh 5vw;
    color: #67392A;
    line-height: 2.5vh;
    font-weight: 200;
}

.left h2  {
    text-align: left;
    color: #67392A;
    font-weight: 600;
    padding: 0 5vw;
}

.right {
    grid-column: 2 / 3;
    justify-self: center;
}


