
   .loginOuter {
        display: flex;
        flex-direction: column;
    }

    .loginHeader {
        order: 1;
    }


    .loginLeftSection {
        background-color: #F7EDE1;
        order: 2;  
    }

    .loginRightSection {
        order: 3;
    }

@media only screen and (min-width: 600px) {

    .loginOuter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 100%;
        max-width: 900px;
        margin: 5% auto;
        margin-bottom: 3%;
        padding-top: 20px;

    }

    .loginLeftSection {
        grid-column: 1 / 3;
        background-color: #F7EDE1;
        
    }

    .loginRightSection {
        grid-column: 3 / 6;
    }
}

