.featureSection {
   
    padding: 5%;
    background-color: #FCF9F6;
    display: flex;
    flex-direction: column;
}

.featureHeading {
   text-align: center;
   color: #67392A;
}

.featureCards {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.featureSection .feat1 {
    grid-column: 1/2;
 
}

.featureSection .feat2 {
    grid-column: 2/3;

}

.featureSection .feat3 {
    grid-column: 3/4;

}

.featureSection button {
    align-self: center;
    /* grid-row: 3/4; */
}

.featureSection .register {
    background-color: #67392A;
    border-radius: 10px;
    height: 4vh;
    width: 14vw;
}

.featureSection .register:hover {
    background-color: #96807A;
    opacity: 50%;
}

.featureSection .register:active {
    background-color: #F8F5F0;
    border: 2px solid #96807A;
}



.featureSection .register a {
    text-decoration: none;
    color: white;
}

.featureSection .register a:active {
    color: #96807A;
}

