.featureOuter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}

.sectionLeft {
    grid-column: 1 / 2;
}

p {
    text-align: left;
    padding: 5%;
}

.sectionRight {
    grid-column: 2 / 3;
}

.feat1_3Image {
    height: auto;
    max-width: 100%;
}

button a { 
    text-decoration: none;
    color: black;
}