.featureOuter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}

.featureOuter .content {
  padding-top: 10%;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.featureOuter p {
  text-align: left;
  /* line-height: 3vh; */
  margin-bottom: 5%;
  font-weight: 200;
  color: #67392a;
}

.featureOuter h2 {
  color: #67392a;
  font-weight: 500;
}

.featureOuter button a {
  text-decoration: none;
  color: #f8f5f0;
}

.featureOuter button {
  background-color: #67392a;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 16vw;
  font-size: 15px;
}

.featureOuter button:hover {
  background-color: #96807a;
  opacity: 50%;
}

.featureOuter button:active {
  background-color: #f8f5f0;
  border: 2px solid #96807a;
}

.featureOuter .imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}

.feat2Image {
  margin-top: 3%;
  margin-left: 5%;
  height: auto;
  max-width: 27vw;
}
