.featureOuter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
  background-color: #fcf9f6;
}

.sectionLeft {
  grid-column: 1 / 2;
  padding-left: 8vw;
}

.sectionRight {
  grid-column: 2 / 3;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.sectionRight p {
  text-align: left;
  /* line-height: 3vh; */
  margin-bottom: 5%;
  font-weight: 200;
  color: #67392a;
}

.sectionRight h2 {
  color: #67392a;
  font-weight: 500;
}

.feat1_3Image {
  height: auto;
  max-width: 27vw;
}

.sectionRight button a {
  text-decoration: none;
  color: #f8f5f0;
}

.sectionRight button {
  background-color: #67392a;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 16px;
  font-size: 15px;
}

.sectionRight button:hover {
  background-color: #96807a;
  opacity: 50%;
}

.sectionRight button:active {
  background-color: #f8f5f0;
  border: 2px solid #96807a;
}
