.featureOuter {
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcf9f6;
}

.sectionLeft {
  order: 1;
}

.sectionRight {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionRight p {
  text-align: center;
  margin-bottom: 5%;
  font-weight: 200;
  color: #3b3835;
  font-size: 18px;
}

.sectionRight h2 {
  color: #3b3835;
  font-weight: 500;
  font-size: 32px;
}

.feat1_3Image {
  align-self: center;
  height: auto;
  max-width: 60vw;
}

.sectionRight button a {
  text-decoration: none;
  color: #f8f5f0;
}

.sectionRight button {
  background-color: #67392a;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 2.5rem;
  min-width: 16px;
  font-size: 15px;
  height: 48px;
}

.sectionRight button:hover {
  background-color: #96807a;
  opacity: 50%;
}

@media only screen and (min-width: 750px) {

  .featureOuter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4% 2%;
  }
  
  .sectionLeft {
    grid-column: 1 / 2;
    padding-left: 8vw;
    display: flex;
  }
  
  .sectionRight {
    grid-column: 2 / 3;
    display: block;
    padding-right: 18%;
  }
  
  .sectionRight p {
    text-align: left;
  }
  
  .feat1_3Image {
    max-width: 27vw;
  }
}