.featureOuter {
  padding: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featureOuter .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
}

.featureOuter p {
  text-align: center;
  margin-bottom: 5%;
  font-weight: 200;
  color: #3b3835;
  font-size: 18px;
}

.featureOuter h2 {
  color: #3b3835;
  font-weight: 500;
  font-size: 32px;
  justify-self: end;
}

.featureOuter button a {
  text-decoration: none;
  color: #f8f5f0;
}

.featureOuter button {
  background-color: #67392a;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 2.5rem;
  min-width: 16px;
  font-size: 15px;
  height: 48px;
}

.featureOuter button:hover {
  cursor: pointer;
  background-color:#B68B7D;
  color: white;
}

.featureOuter .imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  order: 1;
}

.feat2Image {
  align-self: center;
  height: auto;
  max-width: 60vw;
}

@media only screen and (min-width: 750px) {

  .featureOuter {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding: 3% 2%;
  }
  
  .featureOuter .content {
    align-items: start;
    order: 1;
  }

  .featureOuter p {
    text-align: left;
    max-width: 650px;
  }
    
  .featureOuter .imageContainer {
    justify-content: end;
  }

  .feat2Image {
    max-width: 350px;
  }
}