header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  border-bottom: 2px solid #c9b6a1;
  position: relative;
}

header .flexRow ul {
  list-style-type: none;
  display: flex;
}

header .flexRow li {
  width: 8vw;
  align-self: center;
}

header .flexRow li:nth-child(2) {
  width: 9vw;
}

header .flexRow a {
  color: #67392a;
  text-decoration: none;
  font-size: 19px;
}

.faCircle,
.riArrowDown {
  height: 2.1rem;
  width: 4vw;
  color: rgba(45, 18, 9, 0.5);
}

header .flexRow a:hover {
  color: #67392a;
}

header .filter {
  width: 8vw;
  height: 6rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 50px;
}

.dropdown .icons {
  padding-top: 4%;
}

.dropdownItem {
  text-align: center;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 17vw;
  z-index: 1;
  position: absolute;
  top: 90px;
  right: 2vw;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #c9b6a1;
}

.dropdownItem span {
  margin: 1%;
}

.dropdownItem a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  margin-bottom: 3%;
}

/* HomePage NavBar Styling */

.headerHome {
  background-color: red;
}
