ul {
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

header {
  height: 5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  border-bottom: 2px solid #9b8975;
  position: relative;
}

header ul {
  list-style-type: none;
  /* margin: 2rem 0.5em; */
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

header .flexRow ul {
  list-style-type: none;
  display: flex;
}

header .flexRow li {
  /* width: 8vw; */
  align-self: center;
}

/* header .flexRow li:nth-child(2) {
  width: 9vw;
} */

header .flexRow a {
  color: #67392a;
  text-decoration: none;
  font-size: 18px;
}

.faCircle,
.riArrowDown {
  height: 2.1rem;
  width: 4vw;
  color: rgba(45, 18, 9, 0.5);
}

header .flexRow a:hover {
  color: #67392a;
}

header .filter {
  height: auto;
  width: 95px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 50px;
}

.dropdown .icons {
  padding-top: 4%;
}

.dropdownItem {
  text-align: center;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  height: 4rem;
  width: 12vw;
  z-index: 1;
  position: absolute;
  top: 67px;
  right: 5vw;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #9b8975;
  color: rgb(210, 200, 186, 0.9);
}

.dropdownItem span {
  margin: 1%;
}

.dropdownItem a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 3%;
}
