header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  border-bottom: #c9b6a1;
  position: relative;
}

header .flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .flexRow ul {
  list-style-type: none;
}

header .flexRow li {
  height: 2vh;
  width: 8vw;
}

header .flexRow li:nth-child(2) {
  width: 9vw;
}

header .flexRow a {
  color: #67392a;
  text-decoration: none;
  font-size: 19px;
}

.faCircle,
.riArrowDown {
  height: 3vh;
  width: 3vw;
  color: rgba(45, 18, 9, 0.5);
}

header .flexRow a:hover {
  color: #67392a;
}

.header .filter {
  width: 8vw;
  height: 6vh;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 50px;
}

.icons {
  display: flex;
}

.dropdownItem {
  text-align: center;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 17vw;
  z-index: 1;
  position: absolute;
  top: 7vh;
  right: 0;
  background-color: #c9b6a1;
}

.dropdownItem a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  margin-bottom: 3%;
}
